---
layout: default
title: Home
---

<div class="dots">
    {% for project in site.projects %}
        <a class="project-panel-link" href="#{{ project.filename }}">
        </a>
    {% unless forloop.last %},{% endunless %}
    {% endfor %}
    
</div>
<script>
    var posts = [
        {% for project in site.projects %}
            {
                "title": "{{ project.title }}",
                "time": "{{ project.time }}",
                "url": "{{ project.url }}",
                "img": "{{ project.image }}"
            }
        {% unless forloop.last %},{% endunless %}
        {% endfor %}
    ];
    console.log(posts);
</script>
<div class="head hf">
    
</div>
{% for project in site.projects %}
    <a class="project-link" href="{{ project.url }}">
        <div class="project-tile section-class-name" 
             data-section-name="{{ project.filename }}" 
             id="loc-{{ project.filename }}">
            <img class="main-image" src="{{ project.image }}">
             
        </div>
    </a>
{% endfor %}
<div class="foot section-class-name">
    
</div>