body {
    background-color: #202020;
    color: #B9B9B9;
}

a {
    color: #B9B9B9;
}

a:hover {
    color: #B9B9B9;
}

/*h1 {
  background: linear-gradient(to bottom, #ff9800 0%, #ff9800 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  color: #B9B9B9;
  text-decoration: none;
  transition: background-size .2s;
}

h1:hover {
  background-size: 2px 50px;
} */

.heading-font {
    font-family: ibm-plex-mono, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.body-font {
    font-family: ibm-plex-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.project-tile{
    width: 70vw;
    height: 70vh;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 15vh;
    background-color: #2B2B2B;
    -webkit-box-shadow: -1px 33px 83px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 33px 83px -10px rgba(0,0,0,0.75);
    box-shadow: -1px 33px 83px -10px rgba(0,0,0,0.75);
}

.foot {
    height: 15vh;
    margin-top: 30vh;
}
.head {
    height: 55vh;
    margin-bottom: 15vh;
}

.main-image {
    height: 70vh;
    width: 30vw;
    object-fit: cover;
    object-position: 0 0;
    float: left;
    position: relative;
}

.project-panel-link {
  height: 15px;
  width: 15px;
  background-color: #191919;
  border-radius: 50%;
  display: inline-block;
}

.dots {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
    width: 25px;
}

h1 {
    font-size: 1.75rem;
    font-family: ibm-plex-mono, sans-serif;
    font-weight: 400;
    font-style: italic;
    
}

h2 {
    font-size: 1.5rem;
    font-family: ibm-plex-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title {
    max-width: 68vw;
    position: absolute;
    margin-top: 15vh;
    left: 17vw;
    padding: 20px;
    background-color: #2B2B2B;
}

.centered-head {
    position: absolute;
    top: 15vh;
    left: 15vw;
}

#head-title {
    font-size: 4rem;
    font-family: ibm-plex-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 30px;
}

@media (min-width: 768px) { 
    h1 {
        font-size: 2.5rem;
    }
    .title {
        max-width: 365px;
        left: 25vw;
    }
}


@media (min-width: 992px) { 
    h1 {
        font-size: 2.5rem;
    }
    .title {
        max-width: 365px;
        left: 48vw;
    }
}